<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<title>Student's Info</title>
	<style>
	
	</style>
</head>
<body>
	<h1>Student's Info</h1><br>
		<p>Matric No.{{ matric_no }}</p>
		<br>
		<p>Name: {{ name }}</p>
		<br>
		<p>Gender: {{ gender }}</p>
		<br>
		<p>Civics Class: {{ civicsclass }}</p>
		<br>
		<p>Civics Tutor: {{ tutor }}</p>
		<br>
		<p>Home Room: {{ homerm }}</p>
		<br>
		<p>CCA/CCA Teacher IC: {{ cca_teacher }}</p>
		<br>
	<form action="/cca" method="post">
		<p>Would you like to change your CCA:</p>
		<input type="radio" name="change" value="Y">
		<label for="Yes">Yes</label>
		<input type="radio" name="change" value="N">
		<label for="No">No</label>
		<br>
		<input type="submit">
	</form>
</body>