body  {
	padding: 15px 15px;
}

table, th, td {
	
	border: 2px solid grey;
	padding: 10px;
	
}

table {
  border-collapse: collapse;
  width: 100%; /*makes table occupy full space*/
}	

h1, h2{
	font-family: sans-serif;
}