
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hello, the world is a deep, deep place. Stay Zen</title>
  </head>
  <body>
    <h1>loves contributing to ScoreLab.</h1>
  <!--body>
      Hello,{{personal}}, this is a form specially made for you. Hope it is helpful! {{personal}}
      <h1>Register for Cobra, the Python sucessor</h1>
      <form action="/register" method="post">
        <input name= "Name (in CAPS):" placeholder="NAME: Enter your name" type = "text">
        <h2>Laptop Operating System</h2>
        <select name= "dorm">
          <option disabled value="">Operating System</option>
          <option value="Mac OSX">Mac OSX</option>
          <option value="Linux Ubuntu Flavours">Linux Ubuntu Flavours</option>
          <option value="Linux Debian Flavours">Linux Debian Flavours</option>
          <option value="Windows 8/10">Windows 8/10</option>
        </select>
          <input type="submit" value="Register">
      </form>
      <h2>Stay Zen. Zen Corporation 2019 (C) NUS</h2>
  </body-->
  </body>
</html>
